<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>bharatIntern</title>
</head>
<body>
    
    <section class="contact"><br><br><br><br>
        <h1 class="text-center">Admin Login</h1>
        <div class="form"> <form action="/login" method="POST">
            <input class="form-input" type="text" name="dempid" id="dempid" placeholder="Enter your Employee ID" required>
            <input class="form-input" type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            
            <div class="form"><br>                 
            <button class="btn" type="submit"><a>Submit</a></button>
        </form>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br><br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            </div> 
    </section>
   
    <script src="resp/resp.js"></script>
</body>
</html> 