<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>bharatIntern</title>
</head>
<body>
    
    <section class="contact">
        <h1 class="text-center">Registeration Form</h1>
        <div class="form"><form action="/Signupm" method="POST">
            <input class="form-input" type="text" name="dname" id="name" placeholder="Enter your name">
            <input class="form-input" type="empid" name="dempid" id="empid" placeholder="Enter your Employee ID" required>
            <input class="form-input" type="phone" name="dphone" id="phone" placeholder="Enter your Phone Number" required>            
            <label for="referID">Refer ID : </label>
            <select name="referID" id="referID">
                <option value="0001">0001</option>
                <option value="0002">0002</option>
            </select>
            <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-input" required>
            <input type="password" name="confirm_password" id="password" placeholder="Confirm your Password" class="form-input" required>
            </div>
            <div class="form">
                <br><br>
            <button class="btn" type="submit"><a>Submit</a></button>
        </form> 
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br><br>
            </div> 
    </section>
   
    <script src="resp/resp.js"></script>
</body>
</html> 